<!DOCTYPE html>
<html>
  <head>
    <title>WVU Pattern Library - Footer Links Module</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    {{#_wvu-footer__links.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-footer__links.css}}
  </head>
  <body>
    {{> handlebars/_wvu-footer__links}}
  </body>
</html>
