// WVU Footer - Links
//==================================================
$wvu-footer-breakpoint: 'min-width: 48em' !default;

$wvu-footer-facebook-png-url: '//static.wvu.edu/global/images/icons/facebook/wvu-footer/facebook__50x50--1.0.0.png' !default;
$wvu-footer-facebook-svg-url: '//static.wvu.edu/global/images/icons/facebook/wvu-footer/facebook--1.0.0.svg' !default;

$wvu-footer-twitter-png-url: '//static.wvu.edu/global/images/icons/twitter/wvu-footer/twitter__50x50--1.0.0.png' !default;
$wvu-footer-twitter-svg-url: '//static.wvu.edu/global/images/icons/twitter/wvu-footer/twitter--1.0.0.svg' !default;

$wvu-footer-youtube-png-url: '//static.wvu.edu/global/images/icons/youtube/wvu-footer/youtube__50x50--1.0.0.png' !default;
$wvu-footer-youtube-svg-url: '//static.wvu.edu/global/images/icons/youtube/wvu-footer/youtube--1.0.0.svg' !default;

// Dependencies
@import './bower_components/inuit-clearfix/_trumps.clearfix';

.wvu-footer__links {
  @extend %clearfix;
  float: right;
  width: 50%;

  li {
    display: inline; 
    list-style-type: none;
  
    &:before { 
      content: ''; 
      padding-right: 3px; 
    }
  
    &:first-child:before { 
      content: '';
      padding-right: 0; 
    }
  }
} // .wvu-footer__links

.wvu-footer__auxillary-links {
  @extend %clearfix;
  clear: both;
  float: right;
  margin: 0; 
  padding: 3px 0;
  
  li {
    &:before {
      content: '|'; 
    }
  }
} // .wvu-footer__auxillary-links

.wvu-footer__social {
  @extend %clearfix;
  clear: both;
  float: right;
  margin: 0;
  padding: 3px 0;
  
  li { 
    float: left; 
    
    &:last-child a { 
      margin-right: 0; 
    }
    
  }
  
  a {
    background-color: transparent;
    border: 0;
    float: left;
    height: 24px; 
    margin: 0;
    overflow: hidden;
    padding-left: 0; 
    padding-top: 5px;
    text-indent: -9999px;
    width: 24px;
  }
  
} //.wvu-footer__social

.wvu-footer__facebook {
  background: url($wvu-footer-facebook-png-url) no-repeat center center;
  background: url($wvu-footer-facebook-svg-url) no-repeat center center;
} //.wvu-facebook

.wvu-footer__twitter {
  background: url($wvu-footer-twitter-png-url) no-repeat center center;
  background: url($wvu-footer-twitter-svg-url) no-repeat center center;
} //.wvu-twitter

.wvu-footer__youtube {
  background: url($wvu-footer-youtube-png-url) no-repeat center center;
  background: url($wvu-footer-youtube-svg-url) no-repeat center center;
} //.wvu-youtube
